<div class="contaner py-5">
  <div class="row">
    <h1 class="col-sm-5 my-5 mx-auto text-center">いいね一覧<i class="fas fa-heart unlike-btn"></i></h1>
  </div>
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center text-center">
      <% if @favorite_posts.present? %>
      <% @favorite_posts.each do |post|%>
       <%= link_to post_path(post) do %>
         <div class="mx-3"><%= image_tag post.image, :size => '100x100' %></div>
         <p><%= post.customer.name %></p>
         <p><%= post.title %></p>
        <% end %>
      <% end %>
      <% else %>
      <p>いいねした投稿がありません。</p>
      <% end %>
    </div>
  </div>
