<div class="contaner py-5">
  <div class="row">
    <h1 class="col-sm-5 my-5 mx-auto text-center">いいね一覧<i class="fas fa-heart unlike-btn"></i></h1>
  </div>
  <div class="row">
    <div class="col-sm-10 mx-auto d-flex justify-content-center flex-wrap">
      <% if @favorite_posts.present? %>
        <% @favorite_posts.each do |post|%>
          <%= link_to post_path(post) do %>
           <div class="card m-2" style="width: 30rem;">
             <%= image_tag post.image, size: '278x190',class: "m-3" %>
             <div class="card-body text-center">
              <h5 class="card-title">
               <strong><%= post.title %></strong>
              </h5>
             </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
     </div>
    </div>
  <div class="row">
    <div class="col pt-5 text-center" style="height:500px">
      <h3>いいねはありません。</h3>
      <% end %>
    </div>
  </div>
 </div>
 