<div class="col-md-8 offset-md-1">
<h2>Users</h2>
　<table class="table text-center">
　 <thead>
　  <tr>
　   <th>image</th>
　   <th>name</th>
　   <th colspan="3"></th>
　   </tr>
　  </thead>
　  <tbody>
　<% @customers.each do |customer| %>
　<tr>
  <td><%= image_tag customer.get_profile_image(80,80) %></td>
  <td><%= customer.name %></td>
  <td><%= link_to 'Show', customer_path(customer)%></td>
</tr>
<% end %>
</tbody>
</table>
