<div class="contaner py-5">
  <div class="row">
    <h1 class="col-sm-5 my-5 mx-auto text-center">Users</h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= render 'public/searches/index', q: @q %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-10 mx-auto d-flex justify-content-center flex-wrap">
      <% if @results.present? %>
       <% @results.each do |customer| %>
         <%= link_to customer_path(customer) do %>
         <%= image_tag customer.profile_image, :size =>'350x300', class: "m-3" %>
        <% end %>
       <% end %>
     <% end %>
    </div>
  </div>
  <!--ページネーション-->
  <div class="row">
      <div class="col-md d-flex justify-content-center">
        <%= paginate @results %>
      </div>
  </div>
</div>

