// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#edit {
  height: 700px;
}

.new-image img {
  border-radius: 25px;
}


.card img {
  border-radius: 5px;
}

