
<%= form_with model: [post, comment], local: false do |f| %>
 <div class="text-center">
   <%= render 'layouts/error_messages', model: f.object %>
     <%= f.text_area :comment, rows: '1', placeholder: "コメント....",class: "form-control border-0" %>
     <%= button_tag type: "submit", class: "btn btn-default" do %>
     <i class="fas fa-paper-plane"></i></div>
     <% end %>
    <% end %>