<div class ="container py-3">
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="text"><strong>About</strong></h1>
        </div>
    </div>
    
    <div class="row">
        <h3 class="col text-center blockquote-footer">
            同じ志を持つ仲間に幸あれ<i class="fas fa-people-carry mx-2"></i>
        </h3>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="py-5"><strong><em>"Traning_friend"</em>とはひと言で言うと、「筋トレを通して同じ志を持つ仲間と繋がる」ことができます。</strong></h3>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto text-center">
            <h4 class="kakomi-tape2">
                そもそも筋トレは継続することが難しいと言われており、筋トレを始めて1年後も継続している人は僅か4%しかおらず、</br>
            続けられる人はほんの一握りです。</br>
            コロナ禍で日本全体が「健康志向」になり、トレーニングを始める人が急増しましたが</br>
            1年後には殆どの人が辞めてしまっているということです。</br>
            筋トレが続かなかった人の理由としては</br>
             ・自分の成長が実感できなかった</br>
             ・こんなことしても意味がないと思った</br>
             ・最初はやる気があったがモチベーションが続かなかった</br>
             ・仕事で疲れている、時間がない</br>
            など、できない理由は数え切れないほどあるでしょう。</br>
            </h4>

             <h3 class="kakomi-tape2">
            そもそも、人間の脳は安定を好み、変化を嫌うように作られています。
            今の慣れ親しんだ生活を続けていれば、「死」という最悪の結果からは逃れることができると思っているからです。
            逆になにか新しいことを初めて、安全な生活が脅かされると、なにか危険なことが起こるんじゃないかと考えて、元の生活に戻ろうとします。
            この点から見れば、新しい習慣をライフスタイルに取り入れようとしても続かないのは普通のことで、
            継続できない=✖︎　継続できる=○ではなく継続できない=○　継続できる=◎と考えることが正しいと考えます。
            その上で、継続していく上で大切なことは、「筋トレは何の工夫もなければ継続できないのは当たり前」だと認めること。
            そして、筋トレを継続する為には工夫が必要だと言うことです。
            その「工夫」の一つとして「同じ志を持つ仲間が集まれる場所」が必要だと考えました。
            そうすれば、同じ目標や境遇をもった同士が高め合い、成長を実感しあえる環境を作れると思ったからです。
            「Traning_friend」を通じて「筋トレで自分を変えることができた」、「自分に自信を持てるようになった」「筋トレを続けてよかった」
            そういう人が生まれる小さなきっかけになれば、これ以上の幸せはありません。
            <!--ー同じ志を持つ仲間に幸あれー-->
            </h3>
        </div>
    </div>
   

</div>