<div class="container py-3 top-height">
  <div class="row align-items-center">
    <div class="col-sm-12 mx-auto text-center">
      <h1 class="top pb-3"><strong>Traning_friend</strong></h1>
      <h2>Welcom to <strong>Traning_friend !!</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 mx-auto pt-2 pb-5 text-right">
      <p>in<strong>Traning_friend,</strong></p>
    </div>
  </div>
  <div class"row">
    <div class="col py-4 text-center">
      <%= link_to "Log in", new_customer_session_path, class: "btn-top btn-border-shadow btn-border-shadow--color2 " %>
    </div>
  </div>
  <div class"row">
    <div class="col py-4 text-center">
       <%= link_to "Sign in", new_customer_registration_path, class: "btn-top btn-border-shadow btn-border-shadow--color2" %>
    </div>
  </div>
  <div class="row">
     <div class="col py-4 text-center">
       <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, class: "btn-top btn-border-shadow btn-border-shadow--color2", method: :post %>
     </div>
  </div>
</div>

