<div class="container">
  <div class="row">
    <h1 class="col-sm-12 text-center">
      DM一覧
    </h1>
      <% @another_user_rooms.each do |e| %>
      <%= link_to chat_path(e.chat_room_id) do %>
      <%= image_tag e.customer.profile_image %>
      <%= e.customer.name %>
      <% end %>
      <%= e.chat_room.chats.order('created_at DESC').first.message %>
      <% end %>

  </div>
</div>